<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,76}</string>
                <key>textureRect</key>
                <string>{{133,1},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_playMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{71,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>complete_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,497}</string>
                <key>spriteSourceSize</key>
                <string>{662,497}</string>
                <key>textureRect</key>
                <string>{{1,82},{662,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>log_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,94}</string>
                <key>spriteSourceSize</key>
                <string>{79,94}</string>
                <key>textureRect</key>
                <string>{{225,1},{79,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Item_menu.png</string>
            <key>size</key>
            <string>{499,745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e9d3c64bc950b41359b7b4940ecb2f3:6de4c13a47801c67df14c6c220f4e4a4:8ec657d8e39d013c11582839648f8e45$</string>
            <key>textureFileName</key>
            <string>Item_menu.png</string>
        </dict>
    </dict>
</plist>
