<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1461,730}</string>
                <key>spriteSourceSize</key>
                <string>{1461,730}</string>
                <key>textureRect</key>
                <string>{{1,1},{1461,730}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,141}</string>
                <key>spriteSourceSize</key>
                <string>{501,141}</string>
                <key>textureRect</key>
                <string>{{926,733},{501,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{923,257}</string>
                <key>spriteSourceSize</key>
                <string>{923,257}</string>
                <key>textureRect</key>
                <string>{{1,733},{923,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LogoGame.png</string>
            <key>size</key>
            <string>{1463,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d719031a54246f0d0d886fc248c69e:c6a8d5c61159668ce1ec34f1cc68ff92:25af0b71d6915ad323549de3ddb612e6$</string>
            <key>textureFileName</key>
            <string>LogoGame.png</string>
        </dict>
    </dict>
</plist>
