<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1315,788}</string>
                <key>spriteSourceSize</key>
                <string>{1315,788}</string>
                <key>textureRect</key>
                <string>{{1,1},{1315,788}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,277}</string>
                <key>spriteSourceSize</key>
                <string>{311,277}</string>
                <key>textureRect</key>
                <string>{{841,1566},{311,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,187}</string>
                <key>spriteSourceSize</key>
                <string>{582,187}</string>
                <key>textureRect</key>
                <string>{{934,1},{582,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grass_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{922,246}</string>
                <key>spriteSourceSize</key>
                <string>{922,246}</string>
                <key>textureRect</key>
                <string>{{1,1318},{922,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item1_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,89}</string>
                <key>spriteSourceSize</key>
                <string>{449,89}</string>
                <key>textureRect</key>
                <string>{{934,585},{449,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item2_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,101}</string>
                <key>spriteSourceSize</key>
                <string>{169,101}</string>
                <key>textureRect</key>
                <string>{{934,1222},{169,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item3_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,133}</string>
                <key>spriteSourceSize</key>
                <string>{184,133}</string>
                <key>textureRect</key>
                <string>{{934,1036},{184,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item4_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,307}</string>
                <key>spriteSourceSize</key>
                <string>{390,307}</string>
                <key>textureRect</key>
                <string>{{449,1566},{390,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item5_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,324}</string>
                <key>spriteSourceSize</key>
                <string>{446,324}</string>
                <key>textureRect</key>
                <string>{{1,1566},{446,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item6_map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1222,141}</string>
                <key>spriteSourceSize</key>
                <string>{1222,141}</string>
                <key>textureRect</key>
                <string>{{791,1},{1222,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Map2.png</string>
            <key>size</key>
            <string>{1122,1891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec263b9b398baaf14a95b0cfc4f5457:2f1f76fc3d56b3a02aea45c03c5e25c3:76c2498ee4b14840dff5988597dc1a6d$</string>
            <key>textureFileName</key>
            <string>Map2.png</string>
        </dict>
    </dict>
</plist>
