<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1315,788}</string>
                <key>spriteSourceSize</key>
                <string>{1315,788}</string>
                <key>textureRect</key>
                <string>{{1,1},{1315,788}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,251}</string>
                <key>spriteSourceSize</key>
                <string>{283,251}</string>
                <key>textureRect</key>
                <string>{{808,1098},{283,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,152}</string>
                <key>spriteSourceSize</key>
                <string>{159,152}</string>
                <key>textureRect</key>
                <string>{{1271,1318},{159,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,135}</string>
                <key>spriteSourceSize</key>
                <string>{226,135}</string>
                <key>textureRect</key>
                <string>{{1,1324},{226,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1315,141}</string>
                <key>spriteSourceSize</key>
                <string>{1315,141}</string>
                <key>textureRect</key>
                <string>{{1318,1},{1315,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,123}</string>
                <key>spriteSourceSize</key>
                <string>{625,123}</string>
                <key>textureRect</key>
                <string>{{229,1351},{625,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,211}</string>
                <key>spriteSourceSize</key>
                <string>{794,211}</string>
                <key>textureRect</key>
                <string>{{1,791},{794,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,176}</string>
                <key>spriteSourceSize</key>
                <string>{245,176}</string>
                <key>textureRect</key>
                <string>{{1093,1098},{245,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,305}</string>
                <key>spriteSourceSize</key>
                <string>{413,305}</string>
                <key>textureRect</key>
                <string>{{808,791},{413,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,318}</string>
                <key>spriteSourceSize</key>
                <string>{439,318}</string>
                <key>textureRect</key>
                <string>{{1,1004},{439,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,364}</string>
                <key>spriteSourceSize</key>
                <string>{325,364}</string>
                <key>textureRect</key>
                <string>{{442,1004},{325,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Map3.png</string>
            <key>size</key>
            <string>{1460,1475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4f6d778ef1809cadff1b7a379bb4f8:c5e5caf9b39b8dc99f069130e61e6035:5012720016e8f9778a8fc8dcafae77a2$</string>
            <key>textureFileName</key>
            <string>Map3.png</string>
        </dict>
    </dict>
</plist>
