<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1315,788}</string>
                <key>spriteSourceSize</key>
                <string>{1315,788}</string>
                <key>textureRect</key>
                <string>{{1,1},{1315,788}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,235}</string>
                <key>spriteSourceSize</key>
                <string>{264,235}</string>
                <key>textureRect</key>
                <string>{{340,1221},{264,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,146}</string>
                <key>spriteSourceSize</key>
                <string>{743,146}</string>
                <key>textureRect</key>
                <string>{{1318,1},{743,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,152}</string>
                <key>spriteSourceSize</key>
                <string>{211,152}</string>
                <key>textureRect</key>
                <string>{{606,1221},{211,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,116}</string>
                <key>spriteSourceSize</key>
                <string>{193,116}</string>
                <key>textureRect</key>
                <string>{{819,1221},{193,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,316}</string>
                <key>spriteSourceSize</key>
                <string>{530,316}</string>
                <key>textureRect</key>
                <string>{{1074,934},{530,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1071,285}</string>
                <key>spriteSourceSize</key>
                <string>{1071,285}</string>
                <key>textureRect</key>
                <string>{{1,934},{1071,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1315,141}</string>
                <key>spriteSourceSize</key>
                <string>{1315,141}</string>
                <key>textureRect</key>
                <string>{{1,791},{1315,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,249}</string>
                <key>spriteSourceSize</key>
                <string>{337,249}</string>
                <key>textureRect</key>
                <string>{{1,1221},{337,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,104}</string>
                <key>spriteSourceSize</key>
                <string>{185,104}</string>
                <key>textureRect</key>
                <string>{{1318,746},{185,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Map4.png</string>
            <key>size</key>
            <string>{1465,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59902a93aa2ce4f5ebd935d2192ca4be:c3a88ea3c6fbd3f4c9f00768572611d7:9aa0f895478f620fba19d45e776a73de$</string>
            <key>textureFileName</key>
            <string>Map4.png</string>
        </dict>
    </dict>
</plist>
