<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,73}</string>
                <key>spriteSourceSize</key>
                <string>{76,73}</string>
                <key>textureRect</key>
                <string>{{182,1},{76,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{104,1},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,80}</string>
                <key>spriteSourceSize</key>
                <string>{101,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Character.png</string>
            <key>size</key>
            <string>{256,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfd1fbe239d4dedec388f81f37fef82f:7648c61ec0072f78f3c372f7e2a1eea9:a8e3de5b05ac402b8bb0d4255bec1e55$</string>
            <key>textureFileName</key>
            <string>Character.png</string>
        </dict>
    </dict>
</plist>
